<!DOCTYPE html>
<html>
<head>
<style>

body {
  font-size: 8px;
}

#customers {
  font-family: sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 3px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: left;
  background-color: #053ac1;
  color: white;
}
</style>
</head>
<body>
  <div>
    <img src="https://rebox.com.br/assets/images/rebox.png" alt="Minha Figura"  width="100" height="50">
    <p> EMPRESA: REBOX SOLUÇÕES INTEGRADAS </p>
  </div>
  <div>
    ENDEREÇO: AV. DAS AMÉRICAS, Nº 3443, 2º ANDAR, BLOCO 3, BARRA DA TIJUCA, RIO DE JANEIRO - RJ.
  </div>
  <div style="text-align: end;position: relative; top: 23px;">Período de {{initial_date}} até {{final_date}} </div>
  <div>

  <div style="text-align: center;margin-top: 2px; ">PRESTADOR DETALHADO</div>

  {{#each services}}
  {{#if @first }}
    <table>
    <tr>
    <td>Prestador: {{this.company_name}}</td>
    <td>Estado: {{this.state}}</td>
    <td>Cidade: {{this.city}}</td>
    <td>N° de atendimentos: {{this.count}}</td>
    </tr>
    </table>
    </div>
<table id="customers">
  <tr>
    <th>ID</th>
    <th>Nome</th>
	<th>Estado</th>
    <th>Valor</th>
    <th>Origem</th>
    <th>Destino</th>
  <th>KM</th>
  {{/if}}
  </tr>

  <tr>
    <td>{{this.service_id}}</td>
    <td>{{this.name}}</td>
    <td>{{this.state}}</td>
    <td>{{this.amount}}</td>
    <td>{{this.from}}</td>
    <td>{{this.to}}</td>
	<td>{{this.distance}}</td>
  </tr>
  {{/each}}
</table>
</body>
</html>
