<!DOCTYPE html>
<html>
<head>
<style>
  body {
  font-size: 8px;
}
#customers {
  font-family: sans-serif;
  border-collapse: collapse;
  width: 100%;
}
#main {
  font-family: sans-serif;
  border-collapse: collapse;
  width: 100%;

}
#main td {
    font-size: 15px;
    text-align: center;
}
#main th {
    font-size: 12px;

}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 3px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 4px;
  padding-bottom: 4px;
  text-align: left;
  background-color: #053ac1;
  color: white;
}
</style>
</head>
<body>
  <div>
    <img src="https://rebox.com.br/assets/images/rebox.png" alt="Minha Figura"  width="100" height="50">
    <p> EMPRESA: REBOX SOLUÇÕES INTEGRADAS </p>
  </div>
  <div>
    ENDEREÇO: AV. DAS AMÉRICAS, Nº 3443, 2º ANDAR, BLOCO 3, BARRA DA TIJUCA, RIO DE JANEIRO - RJ.


  </div>
  <div style="text-align: center;margin-top: 7px;">PRESTADORES DETALHADO </div>
  <div style="text-align: end;">Período de {{initial_date}} até {{final_date}} </div>
{{#each results}}
{{#if this.newHeader }}
<table id="customers" style="margin-top: 20px;">

  <tr>
    <th>ID</th>
    <th>Nome</th>
    <th>CNPJ</th>
  </tr>

  <tr>
    <td>{{this.id}}</td>
    <td>{{this.company_name}}</td>
    <td>{{this.cnpj}}</td>
  </tr>

</table>

<table id="customers" style="margin-top: 20px;">

  <tr>
    <th>Descrição	</th>
    <th>Qtd</th>
    <th>Porcentagem</th>
    <th>Total</th>
    <th>Rebox</th>
    <th>Prestador</th>
  </tr>
  {{#each this.totalDetails}}
  <tr>
    <td>{{this.description}}</td>
    <td>{{this.count}}</td>
    <td>{{this.commission_percent}}</td>
    <td>{{this.total}}</td>
    <td>{{this.rebox}}</td>
    <td>{{this.partner}}</td>
  </tr>
  {{/each}}
</table>
<table id="main" style="margin-top: 20px;">

  <tr>
    <th>KM Percorrido</th>
    <th>Atendimentos	</th>
    <th>Valor Total	</th>
    <th>Para Rebox	</th>
    <th>Para Prestadores</th>
  </tr>

  <tr>
    <td>{{this.kmSum}}</td>
    <td>{{this.count}}</td>
    <td>{{this.total}}</td>
    <td>{{this.rebox}}</td>
    <td>{{this.partner}}</td>
  </tr>

</table>
<table id="customers" style="margin-top: 10px;">
  <tr>
    <th  style="background-color: lightgray!important;color: black;" >ID</th>
    <th  style="background-color: lightgray!important;color: black;" >Cliente</th>
    <th  style="background-color: lightgray!important;color: black;" >KM</th>
    <th  style="background-color: lightgray!important; color: black;">Porte/Marca</th>
    <th  style="background-color: lightgray!important; color: black;">Tipo de pagamento</th>

    <th  style="background-color: lightgray!important; color: black;">Valor pago</th>
    <th  style="background-color: lightgray!important; color: black;">Valor da Rebox</th>
    <th  style="background-color: lightgray!important; color: black;">Valor do prestador</th>
    <th  style="background-color: lightgray!important; color: black;">data e horário</th>
  </tr>
{{/if}}


  <tr>
    <td>{{this.service_id}}</td>
    <td>{{this.nameuser}}</td>
    <td>{{this.distance}}</td>
    <td>{{this.port}}/ {{this.brand}}</td>
    <td>{{this.payment_method}}</td>
    <td>{{this.amount}}</td>
    <td>{{this.reboxservice}}</td>
    <td>{{this.partnerservice}}</td>

    <td>{{this.created_at}}</td>
  </tr>



{{/each}}

</body>
</html>
